user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
 worker_connections  1024;
}

http {
 include       /etc/nginx/mime.types;
 default_type  application/octet-stream;

 log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                   '$status $body_bytes_sent "$http_referer" '
                   '"$http_user_agent" "$http_x_forwarded_for"';

 access_log  /var/log/nginx/access.log  main;

 sendfile        on;
 #tcp_nopush     on;

 keepalive_timeout  65;

 #gzip  on;

 #include /etc/nginx/conf.d/*.conf;
 fastcgi_buffers 8 16k;
 fastcgi_buffer_size 32k;

  upstream {{ app_name }} {
    server {{ ansible_host }}:8080;
  }

server {
 listen       80;
 server_name  localhost;

 #charset koi8-r;
 #access_log  /var/log/nginx/host.access.log  main;

 location / {
     root   /usr/share/nginx/html;
     index  index.html index.htm;
proxy_pass      http://{{ app_name }};
 }
}

server {
 listen              443 ssl;
 server_name         {{ app_domain }};
 ssl_certificate     {{ nginx_path_ssl }}/{{ app_domain }}.crt;
 ssl_certificate_key {{ nginx_path_ssl }}/{{ app_domain }}.key;

 location / {
  proxy_pass      http://{{ app_name }};
  }
 }
}